<p id="notice"><%= notice %></p>

<h1>Vendors</h1>
<%= link_to 'New Vendor', new_vendor_path, class: "new_btn" %>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>
<br>

<div id="scroll">
<table>
  <tbody>
    <% @vendor.each do |vendor| %>
      <tr>
        <td><%= vendor.name %></td>
        <td col width="55"><%= link_to 'Detail', vendor, :remote => true, class: 'btn-index' %></td>
        <td col width="55"><%= link_to 'Edit', edit_vendor_path(vendor), class: 'btn-index' %></td>
        <td><%= link_to 'Archive', vendor, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-index'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

</div>

<div id="content"></div>
