

<table>
  <h1>Worker Detail</h1>



  <thead  class="table_head">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Payrate</th>

  </tr>
  </thead>

  <tbody>
  <td><%= worker.name %></td>
  <td><%= worker.address %></td>
  <td><%= worker.city %></td>
  <td><%= worker.state %></td>
  <td><%= worker.zip %></td>
  <td><%= worker.payrate %></td>



  </tbody>
</table>

