<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @worker.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @worker.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @worker.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @worker.zip %>
</p>

<p>
  <strong>Payrate:</strong>
  <%= @worker.payrate %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker),class: 'btn-back' %> |
<%= link_to 'Back', workers_path ,class: 'btn-back'%>
