<p id="notice"><%= notice %></p>

<h1>Docks</h1>
<%= link_to 'New Dock', new_dock_path, class: "new_btn" %>
<br>
<br>
<br>

<table>
  <thead>
  <col width="200">
  <tr>
    <th >Name</th>
    <th>Active</th>

  </tr>
  </thead>
</table>



<div id="scroll">
 <table>

  <tbody>
    <% @docks.each do |dock| %>

      <tr>
        <td col width="200"><%= dock.name %></td>
        <td col width="250"><%= dock.available %></td>

        <td col width="35"><%= link_to 'Edit', edit_dock_path(dock), class: 'btn-index' %></td>
        <td ><%= link_to 'Archive', dock, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn-index' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>

